*.classpath
*.project
*.settings/
target
*.orig
*.swp
dependency-reduced-pom.xml
*.iml
.idea/
*.ipr
*.iws
*.DS_Store
migration/RC/
apply_core.sql
apply_dbdeploy.sql
apply_core_hist.sql
undo_core.sql
undo_dbdeploy.sql
grant_tmp.sql
undo_core_hist.sql
modules/*/pom.xml.versionsBackup
pom.xml.versionsBackup
1-CORE-unversioned.sql
2-CORE-versioned.sql
3-CORE-grants.sql
4-CORE-grants-versioned.sql
5-CORE-hist-triggers.sql
modules/integration-test/properties/*properties

# Gradle
.gradle/
**/build
gradle/caches
gradle/daemon
gradle/wrapper/dists


.vagrant
*.sublime-workspace

int-test-logs
func-test-logs

allure-results
*.deb
*.rpm

provisioning/oracle/Disk1
provisioning/oracle/*.zip

test-output
out/

ecomm-fiat-plato-integration_db
